ORDER_DATABASE_URL=postgres://postgres:postgres@localhost:5433/order_db?sslmode=disable
PAYMENT_DATABASE_URL=postgres://postgres:postgres@localhost:5433/payment_db?sslmode=disable

ORDER_HTTP_ADDR=:8080
ORDER_GRPC_ADDR=:9090
ORDER_GRPC_TARGET=localhost:9090

PAYMENT_GRPC_ADDR=:9091
PAYMENT_GRPC_TARGET=localhost:9091
